<li class="nav-header">Прием заявлений / обращений</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Приём обращения с запросом справочной информации <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'add_statement' "technological-connection" %}">Осуществление технологического присоединения</a></li>
        <li><a href="{% url 'add_statement' "energy-transmission" %}">Оказание услуг по передаче электрической энергии</a></li>
        <li><a href="{% url 'add_statement' "energy-accounting" %}">Организация учета электрической энергии</a></li>
        <li><a href="{% url 'add_statement' "customer-service" %}">Обслуживание потребителей</a></li>
        <li><a href="{% url 'add_statement' "contact-information" %}">Контактная информация сетевой организации</a></li>
        <li><a href="{% url 'add_statement' "quality" %}">Предоставление информации о причинах несоблюдения требований к параметрам качества электроэнергии</a></li>
    </ul>
</li>
<li><a href="{% url 'add_statement' "complaint" %}">Прием жалобы</a></li>
<li><a href="{% url 'add_statement' "report" %}">Прием сообщения о бездоговорном потреблении электрической энергии</a></li>

{% if user.is_authenticated %}
    <li><a href="{% url 'statements_list' %}">Поданные заявления и обращения</a></li>
{% endif %}
