<p><b>{{ data.LABELS.type }}: </b><span>{{ data.get_type_display }}</span></p>
<p><b>{{ data.LABELS.com_method }}: </b><span>{{ data.get_com_method_display }}</span></p>

{% if data.email %}
    <p><b>{{ data.LABELS.email }}: </b><span>{{ data.email }}</span></p>
{% endif %}

{% if data.representative %}
    <p><b>{{ data.LABELS.representative }}: </b><span>{{ data.representative }}</span></p>
{% endif %}

{% if data.post_address %}
    <p><b>{{ data.LABELS.post_address }}: </b><span>{{ data.post_address }}</span></p>
{% endif %}

{% if data.phone %}
    <p><b>{{ data.LABELS.phone }}: </b><span>{{ data.phone }}</span></p>
{% endif %}

<form>
    <div class="control-group">
        <label class="control-label" for="finished-events">{{ data.LABELS.text }}:</label>
        <div class="controls">
            <textarea id="finished-events" class="form-control" readonly="readonly" rows="3">{{ data.text }}</textarea>
        </div>
    </div>
</form>

<p><b>{{ data.LABELS.status }}: </b><span>{{ data.get_status_display }}</span></p>

{% if files %}
    <p><b>Документы: </b></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-10">Имя</th>
                <th class="col-md-2">Размер</th>
            </tr>
        </thead>
        <tbody>

            {% for file in files %}
                <tr>
                    <td><a href="{{ file.file.url }}">{{ file.name }}</a></td>
                    <td>{{ file.file.size|filesizeformat }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endif %}
