{% extends "index.html" %}

{% block content %}

    <table class="table table-striped">

        <thead>
        <tr>
            <th class="col-md-2">&#X02116;</th>
            <th class="col-md-5">Тип обращения</th>
            <th class="col-md-3">Состояние</th>
            <th class="col-md-2">Дата</th>
        </tr>
        </thead>
        <tbody>

        {% for item in items %}

            <tr>
                <td>
                    <a href="#" data-toggle="details" data-id="{{ item.pk }}">
                        #{{ item.pk|stringformat:"06d" }}
                    </a>
                </td>
                <td>{{ item.get_type_display }}</td>
                <td>{{ item.get_status_display }}</td>
                <td>{{ item.date|date:"d.m.Y" }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <div class="col-md-offset-4 col-md-8" style="display: block">
        <div id="paginator"></div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="application/javascript">

        $(document).ready(function () {

            $('#paginator').bootpag({
                total: {{ items.paginator.num_pages }},
                page: {{ items.number }},
                maxVisible: 5,
                leaps: false,
                prev: '<span class="glyphicon glyphicon-backward"></span>',
                next: '<span class="glyphicon glyphicon-forward"></span>'
            }).on("page", function (event, num) {
                window.location.href = "{% url "statements_list" %}?page=" + num;
            });

            $('a[data-toggle="details"]').detailsView({
                'title': 'Информация по заявлениям и обращениям',
                callback: function (e, f) {
                    $.get("{% url 'show_statement' %}", {'id': e.data('id')}, f);
                }
            });

        });
    </script>
{% endblock %}