{% if user.is_authenticated %}

    <div class="dropdown" style="display: inline">

        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            {% if user.last_name %}{{ user.last_name }}{% endif %}
            {% if user.first_name %}{{ user.first_name }}{% endif %}
            {% if user.middle_name %}{{ user.middle_name }}{% endif %}
            <b class="caret"></b>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'change_password' %}">
                <span class="glyphicon glyphicon-info-sign"></span> Сменить пароль
            </a></li>
            <li><a href="{% url 'sign_out' %}">
                <span class="glyphicon glyphicon-log-out"></span> Выход
            </a></li>
        </ul>

    </div>

{% else %}

    <a href="{% url 'sign_in' %}" class="btn btn-default">
        <span class="glyphicon glyphicon-user"></span> Авторизация
    </a>

    <div class="dropdown" style="display: inline">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Регистрация <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'registration' 'individual-person' %}">Регистрация физического лица</a></li>
            <li><a href="{% url 'registration' 'sole-proprietor' %}">Регистрация индивидуального предпринимателя</a></li>
            <li><a href="{% url 'registration' 'legal-person' %}">Регистрация юридического лица</a></li>
        </ul>
    </div>

{% endif %}
