<!DOCTYPE html>{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}МУП "АЭСК"{% endblock %}</title>
    <style type="text/css">

        body {
            background: url("{% static "img/404.png" %}") no-repeat center center fixed;
        }

    </style>
</head>
<body>

</body>
</html>
