{% extends "index.html" %}
{% load widget_tweaks %}

<!--
    Шаблон для простых форм
-->

{% block content %}
    {% if forms %}
        <form role="form" class="form-horizontal" method="post" enctype="multipart/form-data">

            {% for form in forms %}
                {% for field in form %}

                    {% if not field.is_hidden %}
                        <div class="control-group">

                            {% if not labels == 'hide' %}
                                <label class="control-label col-lg-3 col-md-4">
                                    {% if field|widget_type != "checkboxinput" %}{{ field.label }}{% endif %}
                                </label>
                            {% endif %}

                            <div class="controls{% if field.errors %} has-error{% endif %}{% if not labels == 'hide' %} col-lg-9 col-md-8{% endif %}">

                                {% if field|widget_type == "select" %}
                                    {{ field|add_class:"form-control selectpicker" }}
                                {% elif field|widget_type == "fileinput" %}
                                    {{ field|add_class:"file"|set_data:"show-preview:false"|set_data:"language:ru"|set_data:"show-upload:false" }}
                                {% else %}
                                    {{ field|add_class:"form-control" }}
                                {% endif %}

                                {% if field|widget_type == "checkboxinput" %}{{ field.label }}{% endif %}

                                {% if field.errors %}
                                    {% for error in  field.errors %}
                                        <span class="help-block error"><small>{{ error }}</small></span>
                                    {% endfor %}
                                {% elif field.help_text %}
                                    <span class="help-block"><small>{{ field.help_text|safe }}</small></span>
                                {% endif %}
                            </div>

                        </div>

                    {% else %}
                        <div class="control-group">
                            {{ field }}
                        </div>
                    {% endif %}

                {% endfor %}
            {% endfor %}

            {% csrf_token %}

            <div class="{% if not labels == 'hide' %} col-lg-9 col-md-8 col-lg-offset-3 col-md-offset-4{% endif %}" style="margin-top: 20px">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-send"></span> {{ submit }}
                </button>

                {% for button in buttons %}
                    <a href="{{ button.url }}" class="btn btn-default">
                        {{ button.submit }}
                    </a>
                {% endfor %}

            </div>
        </form>
    {% endif %}
{% endblock %}