<!DOCTYPE html>{% load static from staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="No-cache">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>МУП "АЭСК"</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/css/fileinput.min.css" rel="stylesheet">

    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/aesk.css" %}" rel="stylesheet">

</head>
<body>

    <div class="container">

        <!--
        Заголовок
        -->
        <div id="header" class="row">

            <div class="pull-right hidden-md hidden-lg">
                <button class="btn collapsed" data-toggle="collapse" data-target="#left-menu" aria-expanded="false" aria-controls="navbar">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>

            <div class="pull-left">
                <h1><a href="/">МУП &quot;АЭСК&quot;</a></h1>
            </div>
        </div>

        <div id="page" class="row">

            <div id="left-menu" class="navbar-collapse collapse" aria-expanded="false">

                <!--
                Основное меню
                -->
                <div class="navbar" role="navigation">

                    <ul class="nav nav-list nav-stacked">
                        {% include "statements/menu.html" %}
                        {% include "tcrequests/menu.html" %}
                        {% include "indications/menu.html" %}
                    </ul>

                </div>

            </div>

            <div id="content">

                <div id="user-bar" class="row">

                    <!--
                    Пользовательское меню
                    -->
                    <div class="pull-right" role="navigation">
                        {% include "portal/menu.html" %}
                    </div>

                </div>

                <!--
                Содержимое
                -->
                <h2>{% block title %}{{ title }}{% endblock %}</h2>
                {% block content %}[content]{% endblock %}

                {% if messages %}
                    <!--
                    Системные сообщения
                    -->
                    <div id="messages">
                    {% for message in messages %}
                        <div{% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

            </div>

        </div>

        <!--
        Подвал
        -->
        <div id="footer" class="row">
            <div class="pull-right">
                <p><b>МУП &quot;АЭСК&quot;, &copy; {% now "Y" %}</b></p>
                <p>184209 г.Апатиты ул.Строителей, д.4</p>
                <p><b>Тел:</b> 8 (81555) 2-47-37</p>
                <p><b>E-mail:</b> <a href="mailto:aesk@aesk51.ru">aesk@aesk51.ru</a></p>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/js/locales/ru.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootpag/1.0.7/jquery.bootpag.min.js"></script>


    <script src="{% static "js/jquery.ui.extrafields.js" %}"></script>
    <script src="{% static "js/jquery.ui.detailsview.js" %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>