{% extends "forms.html" %}

{% block content %}

    {% for item in info %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#collapse{{ item.pk }}" data-toggle="collapse" aria-expanded="false">
                    {{ item.title }} <b class="caret"></b>
                </a>
            </div>
            <div id="collapse{{ item.pk }}" class="panel-body collapse{% if item.state %} in{% endif %}">
                {{ item.text|safe }}
            </div>
        </div>
    {% endfor %}

    {{ block.super }}

{% endblock %}
