<li class="nav-header">Подключение к электрическим сетям</li>
<li><a href="{% url 'add_tcrequest' %}">Подать заявку на технологическое присоединение</a></li>

{% if user.is_authenticated %}
    <li><a href="{% url 'tcrequests_list' %}">Поданные заявки на технологическое присоединение</a></li>
{% endif %}
