<p><b>{{ data.LABELS.status }}: </b><span>{{ data.get_status_display }}</span></p>

{% if files %}
    <p><b>Документы: </b></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-md-10">Имя</th>
            <th class="col-md-2">Размер</th>
        </tr>
        </thead>
        <tbody>

        {% for file in files %}
            <tr>
                <td><a href="{{ file.file.url }}">{{ file.name }}</a></td>
                <td>{{ file.file.size|filesizeformat }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endif %}